<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap" rel="stylesheet"><!--Letra mota-->
    <link href="../static/login.css" rel="stylesheet" />
    <title>Erregistroa</title>
</head>
<body>
    <div class="pokeball">
        <div class="top">
            <img src="../static/Pokedex.png" id="izenburua" />
        </div>
        <div class="bottom"></div>
        <div class="center"></div>  
    </div>
    <form class="login-box">    
        <input type="text" id="username" placeholder="Erabiltzaile izena" required/>
        <input type="password" id="password" placeholder="Pasahitza" required/>
        <input type="password" id="confirm-password" placeholder="Pasahitza berretsi" required/>
        <button type="button" id="register-button">Erregistratu</button>
        <p><i>Kontua baduzu</i></p>
        <a id="aldaketa" href="login.html">Sartu</a>
        <script src="erregistroa.js"></script>
    </form>
</body>
</html>