<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pokédex</title>
    <link href="../static/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap" rel="stylesheet"><!--Letra mota-->
</head>
<body>
    <header class="pokedex-header">
        <div class="pokedex-top-bar">
            <div class="red-bar"></div>
            <div class="white-bar"></div>
            <div class="menu-dots">
                <button class="dot red" id="red-dot">saioa itxi</button>
            </div>
        </div>
        <h1>Nire pokedexa</h1>
        
        <nav class="menua">
            <ul>
                <li><a href="#pokemon-list">Pokedex</a></li>
                <li><a href="#teams">Taldeak</a></li>
                <li><a href="#favorites">Gogokoak</a></li>
                <li><a href="#changeLog">ChangeLog</a></li>
                <li><a href="#settings">Konfigurazioa</a></li>
            </ul>
        </nav>
        <div class="search-container">
            <input type="text" id="pokemon-search" placeholder="Pokemona bilatu...">
            <button id="search-button">Bilatu</button>
        </div>
    </header>
    
    <main class="pokedex-main">
        
        <!-- Pokemonen lista -->
        <article id="pokemon-list" class="pokemon-grid active">
            
            
        </article>
        
        <!-- Taldeak  -->
        <article id="teams" class="teams-section">
            <h2>Taldeak</h2>
            <p>Hemen zure taldeak kudeatu ditzakezu.</p>
        </article>
        
        <!-- Gogokoak  -->
        <article id="favorites" class="favorites-section">
            <h2>Gogokoak</h2>
            <p>Hemen zure gogoko Pokémonak kudeatu ditzakezu.</p>
        </article>
        
        <!-- ChangeLog -->
        <!-- Ezarpenak  -->
        <article id="settings" class="settings-section">
            <h2>Ezarpenak</h2>
            <p>Hemen zure aplikazioaren ezarpenak aldatu ditzakezu.</p>
        </article>
    </main>
    <script src="../static/home.js"></script>
</body>
</html>