<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap" rel="stylesheet"><!--Letra mota-->
    <link href="../static/login.css" rel="stylesheet" />
    <title>Pokedex</title>
</head>
<body>
    <div class="pokeball">
        <div class="top">
            <img src="../static/Pokedex.png" id="izenburua" />
        </div>
        <div class="bottom"></div>
        <div class="center"></div>
    </div>
    <form class="login-box">
        <h2>Login</h2>
        <input type="text" id="username" placeholder="Erabiltzaile izena" required/>
        <input type="password" id="password" placeholder="Pasahitza" required/>
        <button type="button" id="login-button">Sartu</button>
        <p><i>Kontua ez baduzu</i></p>
        <a id="aldaketa" href="erregistroa.html">Erregistratu</a>
        <script src="../static/login.js"></script>
    </form>
</body>
</html>